BACKUP_MASTER_KEY=my_backup_master_key

# Rutas para almacenamiento de datos y backups
DATA_PATH=data
BACKUPS_PATH=backups

# Servicios de almacenamiento
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=

# Servicios de notificaciones
SLACK_WEBHOOK=

DISCORD_WEBHOOK=