BACKUP_MASTER_KEY=my_backup_master_key

# Rutas para almacenamiento de datos y backups
DATA_PATH=data
BACKUPS_PATH=backups

# Servicios de almacenamiento
AWS_ACCESS_KEY=my_aws_access_key
AWS_SECRET_KEY=my_aws_secret_key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=my-bucket-1234567890-us-east-1-an
AWS_FOLDER_NAME=folder_name_in_bucket

AZURE_STORAGE_ACCOUNT=my_azure_storage_account
AZURE_STORAGE_KEY=my_azure_storage_key
AZURE_CONTAINER_NAME=my_azure_container_name
AZURE_FOLDER_NAME=folder_name_in_container

# Servicios de notificaciones
SLACK_WEBHOOK=

DISCORD_WEBHOOK=